{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    {{ title|title }}
{% endblock %}

{% block slider %}

{% endblock %}

{% block content %}
 <div class="job_details_area">
                    <div class="apply_job_form white-bg">
                        <h4>Регистрация</h4>
                        <form action="{% url 'users:register' %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <label class="small mb-1" for="{{ form.username.id_for_label }}">Имя пользователя </label>
                                        {{ form.username }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <label class="small mb-1" for="{{ form.email.id_for_label }}">Адрес электронной почты </label>
                                        {{ form.email }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="input_field">
                                        <label class="small mb-1" for="{{ form.password1.id_for_label }}">Введите пароль</label>
                                        {{ form.password1 }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <label class="small mb-1" for="{{ form.password2.id_for_label }}">Подтверждение пароля</label>
                                        {{ form.password2 }}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="submit_btn">
                                        <button class="boxed-btn3 w-100" type="submit">Регистрация</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
{% endblock %}
