{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    {{ title|title }}
{% endblock %}

{% block slider %}

{% endblock %}

{% block content %}
 <div class="job_details_area">
                    <div class="apply_job_form white-bg">
                        <h4>Регистрация</h4>
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <label class="small mb-1" for="inputUsername">Имя пользователя </label>
                                        <input id="inputUsername" type="text" placeholder="Логин">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <label class="small mb-1" for="inputEmailAddress">Адрес электронной почты </label>
                                        <input id="inputEmailAddress" type="email" placeholder="Email">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="input_field">
                                        <label class="small mb-1" for="inputPassword">Введите пароль</label>
                                        <input id="inputPassword" type="password" placeholder="Пароль">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <label class="small mb-1" for="inputConfirmPassword">Подтверждение пароля</label>
                                        <input id="inputConfirmPassword" type="password" placeholder="Подтвердите пароль">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="submit_btn">
                                        <button class="boxed-btn3 w-100" type="submit">Регистрация</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
{% endblock %}
