<!doctype html>
{% extends 'services/base.html' %}
{% load static %}
<html class="no-js" lang="zxx" xmlns="http://www.w3.org/1999/html">



<head>
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
</head>

<body>
    <header>

    </header>

    {% block slider %}
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text">
                            <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">4536+ Выполненных Работ</h5>
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Интернет-магазины и маркетплейсы</h3>
                            <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">Мы создаем дизайн, разрабатываем и оптимизируем web-проекты и сервисы.</p>
                            <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                                <a href="#" class="boxed-btn3">Отправить заявку</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
            <img src="{% static 'img/banner/illustration.png' %}" alt="">
        </div>
    </div>
    {% endblock %}

    {% block category %}
    <div class="popular_catagory_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title mb-40">
                        <h3>Наши проекты</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="{% url 'parsing' %}"><h4>Парсинг</h4></a>
                        <p> <span>50</span> Available position</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="{% url 'shop' %}"><h4>Интернет магазин</h4></a>
                        <p> <span>50</span> Available position</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="{% url 'transcrib' %}"><h4>Транскрибация</h4></a>
                        <p> <span>50</span> Available position</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="{% url 'telegramm' %}"><h4>Telegramm бот</h4></a>
                        <p> <span>50</span> Available position</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block content %}
    <section id="transc">
        <div class="testimonial_area  ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section_title text-center mb-40">
                            <h3>Транскрибация</h3>
                        </div>
                    </div>
                    <div class="col-xl-12">
                                <div class="row">
                                    <div class="col-lg-11">
                                        <div class="single_testmonial d-flex align-items-center">
                                            <div class="thumb">
                                                <img src="{% static 'img/transcr/tr.jpg' %}" alt="" width="100%">
                                            </div>
                                            <div class="info">
                                                <p>Транскрибация аудио и видео в текст. Транскрибация представляет собой перевод аудиоматериала в информацию, написанную на бумаге. Главной задачей данного процесса является перевести аудио-поток в связанный и логически сформулированный текст. </p>

                                            </div>

                                        </div>
                                        <div class="sldier_btn wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".5s">
                                                <a href="{% url 'transcrib' %}" class="boxed-btn3">Преобразовать в текст</a>
                                            </div>
                                    </div>

                                </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}


    
</body>

</html>