<!doctype html>
{% extends 'services/base.html' %}
{% load static %}
<html class="no-js" lang="zxx" xmlns="http://www.w3.org/1999/html">

<head>
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
</head>

<body>
    <header>

    </header>
    {% block slider %}
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text">
                            <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">Быстро и качественно</h5>
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Интернет-магазин</h3>
                            <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">Интернет-магазин любой сложности</p>
                            <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                            <a href="#" class="boxed-btn3">Отправить заявку</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
            <img src="{% static 'img/banner/illustration.png' %}" alt="">
        </div>
    </div>
    {% endblock %}
    
   {% block content %}
        <section id="transc">
        <div class="testimonial_area  ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section_title text-center mb-40">
                            <h3>Интернет-магазин</h3>
                        </div>
                    </div>
                    <div class="col-xl-12">

                                <div class="row">
                                    <div class="col-lg-11">
                                        <div class="single_testmonial d-flex align-items-center">
                                            <div class="thumb">
                                                <img src="{% static 'img/transcr/tr.jpg' %}" alt="" width="50%">
                                                <div class="quote_icon">
                                                    <i class="Flaticon flaticon-quote"></i>
                                                </div>
                                            </div>
                                            <div class="info">
                                                <p>Интернет-магазин</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}


</body>

</html>