{% extends 'services/base.html' %}
{% load static %}

{% block title %}
    {{ title|title }}
{% endblock %}

{% block slider %}
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text">
                            <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">Совершенно бесплатно</h5>
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Транскрибация онлайн</h3>
                            <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">Транскрибация аудио и видео в текст. Транскрибация представляет собой перевод аудиоматериала в информацию, написанную на бумаге. Главной задачей данного процесса является перевести аудио-поток в связанный и логически сформулированный текст.</p>
                            <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                            <a href="#transc" class="boxed-btn3">Загрузить файл</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
             <img src="{% static 'img/banner/MyLOGO.png' %}" alt="">
        </div>

    </div>
{% endblock %}
    
{% block content %}
        <section id="transc">
        <div class="testimonial_area  ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section_title text-center mb-40">

                            <h3>Транскрибация</h3>
                            <div class="col_trap">
                                <div class="col_trap2">
                                    <div class="trap2">
                                    </div>
                                    <div class="trap">
                                    </div>
                                    <div class="radius">
                                    </div>
                                    <div class="radius2">
                                    </div>
                                    <div class="radius3">
                                    </div>
                                </div>
                                <div class="box">
                                  <div class="cont">
                                  </div>
                                  <div class="cont2">
                                  </div>
                                  <div class="cont3">
                                  </div>
                                  <div class="cont4">
                                  </div>
                                  <div class="cont5">
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                    <div class="row">
                        <div class="col-lg-11">
                            <div class="single_testmonial d-flex align-items-center">
                                <div class="thumb">
                                </div>

                                <div class="job_details_area">
                                    <div class="info">
                                        <p>{{ label_name_services }}</p>
                                        <div class="apply_job_form white-bg">
                                            <form action="create/" enctype="multipart/form-data" method="post">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="input_field">
                                                            {{ form.name }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <button type="button" id="audio"><i
                                                                        class="fa fa-cloud-upload"
                                                                        aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                            <div class="custom-file">
                                                                {{ form.audio }}
                                                                <label class="custom-file-label">Загрузка
                                                                    файла</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="submit_btn">
                                                            <button class="boxed-btn3 w-100" type="submit">Запустить транскрибацию
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
